// Footer
footer {
    padding: 30px 0;
    color: $white-clr;
    background-color: $text-clr;
    text-align: center;
    p {
        font-size: 13px;
        margin-bottom: 0;
        a {
            color: inherit;
            font-weight: 500;
            &:hover {
                color: $primary-clr;
            }
        }
    }
}
